:root {
    --color-base: #13839B;
    --color-background1: #13839B;
    --color-background2: #000;
    --color-background3: #85ADCB;
    --color-text: #ffffff;
    --color-icon: #cd3e47ac;
    /* --sidbar-width: 250px; */
}
*{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
   
    font-weight: 700;
}

.all{
    background-color:var(--color-background1);
    height: 100%;
}


.row{
    background-color: var(--color-background3);
}
.btn{
    color: #000;
    display: flex;
    background-color: #85ADCB;
    flex-direction: column;
    justify-content: center;
}
.contact{
    background-color:var(--color-background3);
}

